/backend/db.sqlite3
/.idea/vcs.xml
/.idea/resale_profit_calculation.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
/.env
/backend/static/
/backend/tests/test_1.py
/backend/.coverage
/backend/htmlcov/
/backend/tests/.coverage
/backend/tests/htmlcov/
/_Trash/
