{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div style="top: 50%; transform: translateY(10%); margin: auto; width: 300px;">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div style="height: 80px;"></div>

        <h2 class="h3 mb-3 fw-normal" style="text-align: center;">Please sign in</h2>
        {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
        {% endif %}

        <div class="form-floating" style="height: 50px; margin: auto;">
          <input name="username" type="text"  autocomplete="username" class="form-control" id="id_username" placeholder="Username">
          <label for="id_username">Username</label>
        </div>
        <div style="height: 20px;"></div>

        <div class="form-floating" style="height: 50px; margin: auto;">
          <input name="password" type="password"  autocomplete="password" class="form-control" id="id_password" placeholder="Password">
          <label for="id_password">Password</label>
        </div>
        <div style="height: 20px;"></div>

        <div class="d-grid gap-2">
          <button name="login" type="submit" value="Login" class="btn btn-primary">Login</button>
        </div>
        <div style="height: 20px;"></div>

        <div style="text-align: center;">
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
        <div style="height: 80px;"></div>
    </form>
</div>

{% endblock %}
