{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div style="top: 50%; transform: translateY(10%); margin: auto; width: 300px;">
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <div style="height: 80px;"></div>

        <h2 class="h3 mb-3 fw-normal" style="text-align: center;">Change password</h2>
        <p style="text-align: center;">Enter your new password</p>
        {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
        {% endif %}

        <div class="form-floating" style="height: 50px; margin: auto;">
          <input name="new_password1" type="password"  autocomplete="new-password" class="form-control" id="id_new_password1" placeholder="Password">
          <label for="id_new_password1">Password</label>
        </div>
        <div style="height: 20px;"></div>

        <div class="form-floating" style="height: 50px; margin: auto;">
          <input name="new_password2" type="password"  autocomplete="new-password" class="form-control" id="id_new_password2" placeholder="Password">
          <label for="id_new_password2">Password</label>
        </div>
        <div style="height: 20px;"></div>

        <div class="d-grid gap-2">
          <button name="password_change" type="submit" value="Change" class="btn btn-primary">Change</button>
        </div>

        <div style="height: 80px;"></div>
    </form>
</div>


{% endblock %}
