<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link link-dark px-2">About</a></li>
        </ul>
        <ul class="nav">
            {% if request.user.is_authenticated %}
            <!--            <a href="{% url 'home' %}">Личный кабинет</a>-->
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'account_profile' %}" class="nav-link link-dark px-2">Profile</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link link-dark px-2">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link link-dark px-2">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>