{% extends 'base_extended.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% load accounting_tags %}

<div class="p-1 container row mb-2">
    <div class="col-3"></div>
    <div class="col-6"><h2 class="p-2 text-h2-center">Tickets List</h2></div>
    <div class="col-3 text-link-div"><a href="{% url 'add_ticket' %}" class="p-2 text-decoration-none">Add a ticket</a></div>
</div>

<div class="p-1 container">
    {% for filter in ticket_filter_query %}
        <a href="{% url 'home' %}?filter_by={{ filter.url_value }}" class="no-decoration-line">
            <span class="badge" style="background-color: {{ filter.color }}; color: black;" title="{{ filter.annotation }}">{{ filter.title }}</span>
        </a>
    {% endfor %}
    <a href="{% url 'home' %}" class="no-decoration-line" title="Reset filter">
        <span class="badge" style="background-color: #ea5455; color: black;">Reset</span>
    </a>
</div>

<div class="container p-2 border bg-light themed-container row mb-2 margin-auto">
    <div class="col-4">Title</div>
    <div class="col-2">Bought</div>
    <div class="col-2">Sold</div>
    <div class="col-2">Profit</div>
    <div class="col-2">Date</div>
</div>

{% for ticket in tickets %}
    <a href="{{ ticket.get_update_url }}" class="no-decoration-line link-black-color">
        <div class="
        container themed-container p-2 border row mb-2 margin-auto
        {% if ticket.profit > 0 %}
        bg-green
        {% elif ticket.profit < 0 %}
        bg-red
        {% elif ticket.profit == 0 %}
        bg-yellow
        {% else %}
        bg-orange
        {% endif %}">
            <div class="col-4">{{ ticket.title|truncatechars:43 }}</div>
            <div class="col-2">
                -{{ ticket.bought|floatformat:2 }}
                {% if user_additional.display_symbol %}{{ user_additional.currency }}{% else %}{% endif %}
            </div>
            <div class="col-2">
                {% if ticket.sold %}
                +{{ ticket.sold|floatformat:2 }}
                {% if user_additional.display_symbol %}{{ user_additional.currency }}{% else %}{% endif %}
                {% else %}
                Waiting
                {% endif %}
            </div>
            <div class="col-2">
                {% if ticket.profit or ticket.profit == 0 %}
                {{ ticket.profit|floatformat:2  }}
                {% if user_additional.display_symbol %}{{ user_additional.currency }}{% else %}{% endif %}
                {% else %}
                Waiting
                {% endif %}
            </div>
            <div class="col-2">{{ ticket.created_at|date:"d.m.Y"}}</div>
        </div>
    </a>
{% empty %}

{% endfor %}

<div style="height: 20px;"></div>
<div class="p-1 container row mb-2">
    <div class="col-3"></div>
    <div class="col-6">
        {% if tickets.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if tickets.has_previous %}
                    <li class="page-item"><a class="page-link link-black-color" href="?{% url_replace request 'page' paginator.next_page_number %}{{ tickets.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                    {% for p in tickets.paginator.page_range %}
                      {% if tickets.number == p %}
                        <li class="page-item disabled"><a class="page-link">{{ p }}</a></li>
                      {% elif p > tickets.number|add:-3 and p < tickets.number|add:+3 %}
                        <li class="page-item "><a class="page-link link-black-color" href="?{% url_replace request 'page' paginator.next_page_number %}{{ p }}">{{ p }}</a></li>
                      {% endif %}
                    {% endfor %}

                {% if tickets.has_next %}
                    <li class="page-item"><a class="page-link link-black-color" href="?{% url_replace request 'page' paginator.next_page_number %}{{ tickets.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <div class="col-3">
        <p class="text-quantity">Quantity: {{ tickets_quantity }}</p>
    </div>
</div>
{% endblock %}

