{% extends 'base_extended.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="p-1 container row mb-2" style="margin: auto;">
        <div class="col-3"></div>
        <div class="col-6"><h2 class="p-2" style="text-align: center;">Update Ticket</h2></div>
        <div class="col-3"  style="text-align: right; margin: auto;">
            <!-- Button trigger modal -->
            <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="p-2" style="color: #ea5455; text-decoration-line: none;">Delete</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure? You want to delete ticket: "{{ ticket.title }}"?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ ticket.get_delete_url }}" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 20px;"></div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="p-1 container row mb-2" style="margin: auto;">
            <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text" id="id_title">Title</span>
                  <input type="text" name="title" maxlength="100" required class="form-control" aria-label="Sizing example input" aria-describedby="id_title" value="{{ form.title.value }}">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                  <span class="input-group-text" id="id_bought">Bought</span>
                  <input type="number" step="0.01" min="0.01" name="bought" required class="form-control" aria-label="Sizing example input" aria-describedby="id_bought" value="{{ form.bought.value }}">
                </div>
            </div>
            <div class="col-3"  style="text-align: right; margin: auto;">
                <div class="input-group">
                  <span class="input-group-text" id="id_sold">Sold</span>
                  <input type="number" step="0.01" min="0.01" name="sold" required class="form-control" aria-label="Sizing example input" aria-describedby="id_sold" value="{% if form.sold.value %}{{ form.sold.value }}{% endif %}">
                </div>
            </div>
            <div class="col-2"  style="text-align: right; margin: auto;">
                <button name="add_ticket" type="submit" class="btn btn-primary btn">Update</button>
            </div>
        </div>
    </form>

    <div style="height: 20px;"></div>

    <div class="p-1 container row mb-2" style="margin: auto;">
    {% for message in messages %}
        <div class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    </div>


{% endblock %}

