{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div style="height: 100px;"></div>
<div class="p-1 container row mb-2" style="margin: auto;">
    <div class="col-12">
        <h1 style="text-align: center;">404</h1>
        <div style="height: 10px;"></div>
        <h2 style="text-align: center;">Not Found</h2>
        <div style="height: 10px;"></div>
        <h2 style="text-align: center;">The requested resource was not found on this server!</h2>
    </div>
</div>

{% endblock %}
