.form-user-div-style {
    transform: translateY(10%);
    margin: auto;
    width: 300px;
}

.form-user-div-height {
    height: 50px;
    margin: auto;
}

.text-h2-center {
    text-align: center;
    margin: auto;
}

.text-quantity {
    text-align: right;
    color: #858585;
}

.text-link-div {
    text-align: right;
    margin: auto;
}

.no-decoration-line {
    text-decoration-line: none;
}

.margin-auto {
    margin: auto;
}

.link-black-color {
    color: black;
}

.link-black-color:hover {
    color: #292f46;
}

.link-grey-color {
    text-align: right;
    color: #858585;
}

.link-grey-color:hover {
    text-align: right;
    color: #292f46;
}

.link-red-color {
    color: #ea5455;
    text-decoration-line: none;
}

.link-red-color:hover {
    color: red;
}

.bg-green {
    background-color: #c0ffba;
}

.bg-red {
    background-color: #c0ffba;
}

.bg-yellow {
    background-color: #ffbaba;
}

.bg-orange {
    background-color: #ffe1ba;
}
