.form-user-div-style {
    transform: translateY(10%);
    margin: auto;
    width: 300px;
}

.form-user-div-height {
    height: 50px;
    margin: auto;
}

.font-size-14 {
    font-size: 14px;
}

.text-h2-center {
    text-align: center;
    margin: auto;
}

.text-quantity {
    text-align: right;
    color: #858585;
}

.text-link-div {
    text-align: right;
    margin: auto;
}

.text-black {
    color: black
}

.no-decoration-line {
    text-decoration-line: none;
}

.margin-auto {
    margin: auto;
}

.link-dark-gray-color {
    color: #212529;
}

.link-dark-gray-color:hover {
    color: black;
}

.link-black-color {
    color: black;
}

.link-black-color:hover {
    color: #595959;
}

.link-grey-color {
    text-align: right;
    color: #858585;
}

.link-grey-color:hover {
    text-align: right;
    color: #292f46;
}

.link-red-color {
    color: #ea5455;
    text-decoration-line: none;
}

.link-red-color:hover {
    color: red;
}

.bg-green {
    background-color: #c3fcc2;
}

.bg-green:hover {
    background-color: #dffcde;
}

.bg-red {
    background-color: #fcc2c2;
}

.bg-red:hover {
    background-color: #fcdede;
}

.bg-yellow {
    background-color: #fafcc2;
}

.bg-yellow:hover {
    background-color: #fcfcde;
}

.bg-orange {
    background-color: #fce4c2;
}

.bg-orange:hover {
    background-color: #fcf0de;
}

.bg-blue {
    background-color: #c2e0fc;
}

.bg-blue:hover {
    background-color: #deeefc;
}

